#overhead
node_modules/
.next/
.yarn/
.yarnrc*
.git/
prisma/migrations/
prisma/client/

#sensitive
.env.local
.env
firebaseClientConfig.js
firebaseAdminConfig.json
platonbackup.sql

#project-specific overhead
app/documents/

#idx ignore
.idx/.data/
package-lock.json
