#overhead
node_modules/
.next/
.yarn/
.git/
prisma/migrations/
yarn.lock

#sensitive
.env.local
.env
firebaseClientConfig.js
firebaseAdminConfig.json
platonbackup.sql

#project-specific overhead
app/documents/

#idx ignore
.idx/.data/
package-lock.json
